* { 

	--text: rgb(0, 0, 0);
	--border: #000000;
	--accent:#b78cf3;
	--bg: rgba(255, 255, 255, 0.8);

	box-sizing: border-box;
}
body {
	padding: 10px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: var(--text);
	background-color: var(--bg);
}


.container {
	max-width: 80rem;
	margin: 3vw auto 5px auto;
	margin-top: 0px;
	display: flex;
	flex-wrap: wrap;

	gap: 20px;
	background-color: var(--bg);
}

.third { flex: 1 1 30%;color: transparent; }
.third:hover {flex: 1 1 30%; rotate: 2deg; color:white; -webkit-text-stroke:10px #000; }

.fix-stroke {
   paint-order: stroke fill;
}

.third h1 {
	position: absolute;
	font-size: 2.5rem;
	bottom: 0;
	right: 10px;
	margin: 10px;

}


section {
	border: 20px double var(--border);

}


footer {
	text-align: center;
	margin-bottom: 5vw;
	font-size: 0.8rem;
}


h1 { 
	font-size: 2.5rem;
	letter-spacing: 2px;
	font-weight: normal;
	text-align: center;
	
}
h2 { 
	font-size: 1.25rem;
	font-weight: normal;
	text-align: center;
}
h3 { 
	font-size: 1.1rem;
}
h4 { 
	font-size: 1rem;
}


img { max-width: 100%; }
pre { overflow-y:visible; }

a:hover, a:focus {
	
  text-decoration-line: underline;
  text-decoration-style: wavy;  
}

a:visited {
	color: var(--accent);
}